@model WebUI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPasswordNew";
}

<h2>Reset hasła</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>@Html.DisplayNameFor(x => x.Email)</label>
        @Html.TextBoxFor(x => x.Email, new{@class = "form-control"})
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(x => x.Password)</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>@Html.DisplayNameFor(x => x.ConfirmPassword)</label>
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
    </div>
    
    <input type="submit" value="Zmień" class="btn btn-default"/>
}
